body {
    font-family: 'Segoe UI', sans-serif;
    overflow-x: hidden;
    height: 100vh;
    font-family: cursive;
    background: url(../pexels-steven-arenas-14151-314374.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.logo {

    animation: spin 5s linear infinite;
    transition: all 0.5s;
}

.logo:hover {
    transform: rotate(20deg);
}

input {
    transition: all 0.5s;
}

input:focus {
    border-radius: 1vh;
}